form{
background-color: black;
height: 100vh;
border-radius: 50px;
}
body{
    color: aliceblue;
}
div{
    text-align: center;
}
div span{
    color: yellow;
    font-size: 20px;
}

input{
padding: 10px;
border-radius: 100px;
width: 300px;
}
h1{
    color: black;
    text-align: center;
    background-color: blanchedalmond;
}

button{
    background-color: green;
    border-radius: 100px;
    text-align: center;
    width: 300px;
    border: none;
    color: aliceblue;
}

iframe{
    display: block;
    margin: auto;
}
